<p>Benvinguts i benvingudes al web de participació de la ciutat de L’Hospitalet, depenent de l’Àrea Participació i Relacions Ciutadanes.</p>

<p>El Servei de Participació té com a missió la promoció d’una ciutat participativa on veïns, veïnes, entitats i govern municipal
  contribueixin al bon govern, la convivència i la cohesió social de L’Hospitalet de Llobregat.</p>

<p>Les funcions del Servei de Participació són:</p>
<ul>
  <li>Donar suport en la gestió dels òrgans i espais de participació estables de la ciutat</li>
  <li>Promocionar i dinamitzar de processos participatius a la ciutat de L’Hospitalet.</li>
  <li>Gestionar i actualitzar el Registre Municipal d’entitats de la Ciutat de L’Hospitalet de Llobregat</li>
  <li>Oferir suport i assessorament tècnic a entitats de la ciutat.</li>
</ul>

<p>En aquest espai trobaràs informació sobre els processos i els canals de participació que fan de l’Hospitalet una ciutat que
  mira al futur comptant amb la participació de tots i totes. La ciutat de la participació la construïm des d’ara.</p>

<div class="card card--list">
  <div class="card--list__item">
    <div class="card--list__text">
      <%= link_to asset_pack_path("reglament.pdf"), class: "card__link" do %>
        <h6 class="card--list__heading heading6">
          Reglament de Participació de L'Hospitalet de Llobregat
          <small>pdf 260KB</small>
        </h6>
        <% end %>
    </div>
    <div class="card--list__data">
      <%= link_to asset_pack_path("reglament.pdf"), class: "card--list__data__icon" do %>
        <%= icon "cloud-download" %>
          <% end %>
    </div>
  </div>
</div>
