<p>Bienvenidos y bienvenidas al web de participación de la ciudad de L'Hospitalet. El Servicio depende del Área de Participación y Relaciones Ciudadanas.</p>

<p>El Servicio de Participación tiene como misión la promoción de una ciudad participativa donde  vecinos, vecinas, entidades y gobierno municipal contribuyan al buen gobierno, la convivencia y la cohesión social de L'Hospitalet de Llobregat.</p>

<p>Las funciones del Servicio de Participación son:</p>
<ul>
  <li>Dar apoyo en la gestión de los órganos y espacios de participación estables de la ciudad</li>
  <li>Promocionar y dinamizar de procesos participativos en la ciudad de L'Hospitalet.</li>
  <li>Gestionar y actualitzar el Registro Municipal de entidades de la Ciudad de L'Hospitalet de Llobregat</li>
  <li>Dar apoyo y asesoramiento técnico a entidades de la ciudad.</li>
</ul>

<p>En este espacio encontrarás información sobre los procesos y los canales de participación que hacen de L'Hospitalet una ciudad que mira al futuro contando con la participación de todos y todas. La ciudad de la participación la construimos desde ahora.</p>

<div class="card card--list">
  <div class="card--list__item">
    <div class="card--list__text">
      <%= link_to asset_path("reglament.pdf"), class: "card__link" do %>
        <h6 class="card--list__heading heading6">
          Reglamento de Participación de L'Hospitalet de Llobregat
          <small>pdf 260KB</small>
        </h6>
        <% end %>
    </div>
    <div class="card--list__data">
      <%= link_to asset_path("reglament.pdf"), class: "card--list__data__icon" do %>
        <%= icon "cloud-download" %>
          <% end %>
    </div>
  </div>
</div>
