<h2 class="heading5">
  ¿Quieres contactar con el Servicio de Participación Ciudadana de L'Hospitalet de Llobregat? Puedes escribir un correo electrónico a <a href="mailto:participacio.ciutadana@l-h.cat">participacio.ciutadana@l-h.cat</a> o be trucar al <strong>934026060</strong>.
</h2>

<h2 class="heading5">
  Construyamos una sociedad más abierta, transparente y colaborativa.
</h2>

<h2 class="heading5">
  Únete, participa y decide
</h2>
