<h2 class="heading5">
  Vols contactar amb el Servei de Participació Ciutadana de L’Hospitalet de Llobregat? Pots esciure un correu electrònic a <a href="mailto:participacio.ciutadana@l-h.cat">participacio.ciutadana@l-h.cat</a> o be trucar al <strong>934026060</strong>.
</h2>

<h2 class="heading5">
  Construïm una societat més oberta, transparent i col·laborativa.
</h2>

<h2 class="heading5">
  Uneix-te, participa i decideix
</h2>
