<p>Benvinguts i benvingudes al web de participació de la ciutat de L’Hospitalet, depenent de la Regidoria de Participació Ciutadana, de l’Àrea d’Alcladia-Presidència. El Servei de Participació te com a missió la promoció d’una ciutat participativa on veïns, veïnes, entitats i govern municipal contribueixin al bon govern, la convivència i la cohesió social de L’Hospitalet de Llobregat.</p>

<p>Les funcions del Servei de Participació són:</p>
<ul>
  <li>Donar suport en la gestió dels òrgans i espais de participació estables de la ciutat</li>
  <li>Promociocionar i dinamitzar de processos participatius a la ciutat de L’Hospitalet.</li>
  <li>Gestionar i actualitzar el Registre Municipal d’entitats de la Ciutat de L’Hospitalet de Llobregat</li>
  <li>Oferir suport i assessorament tècnic a entitats de la ciutat.</li>
</ul>

<p>En aquest espai trobaràs informació sobre els processos i els canals de participació que fan de l’Hospitalet una ciutat que mira al futur comptant amb la participació de tots i totes. La ciutat de la participació la construïm des d’ara.</p>